{{#if value.objectClass}}<div class="{{value.objectClass}}">{{/if}}
<div class="
{{~#ifEqual value.style 'hangLeft'}}hang hang--left{{/ifEqual}}
{{~#ifEqual value.style 'hangRight'}}hang hang--right{{/ifEqual}}
{{~#ifEqual value.style 'halfLeft'}}column--inline column--half set--left{{/ifEqual}}
{{~#ifEqual value.style 'halfRight'}}column--inline column--half set--right{{/ifEqual}}
{{~#ifEqual value.style 'threeFourthsLeft'}}column--inline column--three-fourths set--left{{/ifEqual}}
{{~#ifEqual value.style 'threeFourthsRight'}}column--inline column--three-fourths set--right{{/ifEqual}}
{{~#ifEqual value.style 'wide'}}column--2x set--center gutter--vertical-2x{{/ifEqual}}
{{~#ifEqual value.style 'full'}}column--1x set--center gutter--vertical-2x{{/ifEqual}}
{{~#ifEqual value.style 'bleed'}}column--bleed gutter--vertical-2x{{/ifEqual}}">
<figure {{#if value.id}}id="{{value.id}}"{{/if}} class="media{{#ifEqual value.type 'gallery'}} media--gallery lightgallery{{/ifEqual}}">
  <div class="media__gallery">
      {{#each value.images}}
      <a class="media__gallery__item media__gallery__item--image{{#ifEqual ../value.grid '3'}} media__gallery__item--3{{else}} media__gallery__item--2{{/ifEqual}}" href="{{value.url}}" title="{{value.caption}}">
      {{#if value.ratio}}<div class="intrinsic ratio--{{value.ratio}}">{{/if}}
        <img
            src="{{value.url}}"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-srcset="{{value.url}}"
            data-sizes="auto"
            class="lazyload{{#if value.ratio}} intrinsic__element{{/if}}"
            alt="{{value.alt}}{{#if value.source}} | {{value.source}}{{/if}}"
            title="{{value.caption}}" />
        {{#if value.ratio}}</div>{{/if}}
      </a>
      {{/each}}
  </div>
  {{> story/caption}}
</figure>
</div>
{{#if value.objectClass}}</div>{{/if}}
