<div{{#if value.id}} id="{{value.id}}"{{/if}} class="reveal">
  <div class="reveal__container">
    {{#if value.kicker}}<div class="kicker kicker--inline">{{value.kicker}}</div>{{/if}}
    {{#each value.body}}
      {{#ifEqual type 'p||div||h1||h2||h3||h4||h5||h6||ul||ol'}}
        <{{type}}>{{{value}}}</{{type}}>
      {{/ifEqual}}
      {{#ifEqual type 'blockquote'}}
        {{> story/blockquote}}
      {{/ifEqual}}
      {{#ifEqual type 'pullquote'}}
        {{> story/pullquote}}
      {{/ifEqual}}
      {{#ifEqual type 'image'}}
      	{{> story/figureImage}}
      {{/ifEqual}}
      {{#ifEqual type 'images'}}
        {{#ifEqual value.type 'gallery'}}
          {{> story/images}}
        {{/ifEqual}}
      {{/ifEqual}}
      {{#ifEqual type 'images'}}
        {{#ifEqual value.type 'slider'}}
          {{> story/slider}}
        {{/ifEqual}}
      {{/ifEqual}}
      {{#ifEqual type 'mpx'}}
        {{> story/mpx}}
      {{/ifEqual}}
      {{#ifEqual type 'video'}}
        {{> story/video}}
      {{/ifEqual}}
      {{#ifEqual type 'chart'}}
        {{> story/chart}}
      {{/ifEqual}}
      {{#ifEqual type 'charts'}}
        {{> story/charts}}
      {{/ifEqual}}
      {{#ifEqual type 'documentcloud'}}
        {{> story/documentcloud}}
      {{/ifEqual}}
      {{#ifEqual type 'ai2html'}}
        {{> story/ai2html}}
      {{/ifEqual}}
      {{#ifEqual type 'callout'}}
        {{> story/callout}}
      {{/ifEqual}}
    {{/each}}
  </div>
<button class="reveal__close" data-sset="reveal-close">
  <svg class="menu__icon menu__icon--close" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
    <path d="M14.348,14.849c-0.469,0.469-1.229,0.469-1.697,0L10,11.819l-2.651,3.029c-0.469,0.469-1.229,0.469-1.697,0
    	c-0.469-0.469-0.469-1.229,0-1.697l2.758-3.15L5.651,6.849c-0.469-0.469-0.469-1.228,0-1.697c0.469-0.469,1.228-0.469,1.697,0
    	L10,8.183l2.651-3.031c0.469-0.469,1.228-0.469,1.697,0c0.469,0.469,0.469,1.229,0,1.697l-2.758,3.152l2.758,3.15
    	C14.817,13.62,14.817,14.38,14.348,14.849z"></path>
  </svg>
</button>
</div>
