{{#if value.objectClass}}<div class="{{value.objectClass}}">{{/if}}
<div class="
{{~#ifEqual value.style 'hangLeft'}}hang hang--left{{/ifEqual}}
{{~#ifEqual value.style 'hangRight'}}hang hang--right{{/ifEqual}}
{{~#ifEqual value.style 'halfLeft'}}column--inline column--half set--left{{/ifEqual}}
{{~#ifEqual value.style 'halfRight'}}column--inline column--half set--right{{/ifEqual}}
{{~#ifEqual value.style 'threeFourthsLeft'}}column--inline column--three-fourths set--left{{/ifEqual}}
{{~#ifEqual value.style 'threeFourthsRight'}}column--inline column--three-fourths set--right{{/ifEqual}}
{{~#ifEqual value.style 'wide'}}column--2x set--center gutter--vertical-2x{{/ifEqual}}
{{~#ifEqual value.style 'full'}}column--1x set--center gutter--vertical-2x{{/ifEqual}}
{{~#ifEqual value.style 'breakout'}}column--1halfx set--center gutter--vertical-2x{{/ifEqual}}
{{~#ifEqual value.style 'bleed'}}column--bleed gutter--vertical-2x{{/ifEqual}}">
<figure {{#if value.id}}id="{{value.id}}"{{/if}} class="media{{#ifEqual value.type 'gallery'}} media--gallery{{/ifEqual}} gutter--horizontal">
  <div class="media__gallery tweet" >
      {{#each value.tweets}}
        <div class="media__gallery__item {{#ifEqual ../value.grid '3'}} media__gallery__item--3-tweet{{else}} media__gallery__item--2-tweet{{/ifEqual}}">
          {{{value.code}}}
        </div>
      {{/each}}
      {{{value.code}}}
  </div>
  {{> story/caption}}
</figure>
</div>
{{#if value.objectClass}}</div>{{/if}}
