<div id="m-{{add @index 1}}" class="js-episode-material-wrapper episode__material-wrapper">
  <ul class="js-episode-material-list episode__material">
    {{#each value.material}}
      {{#ifEqual type 'pdf'}}
        <li><a href="{{value.url}}">{{value.title}} (PDF)</a></li>
      {{/ifEqual}}
      {{#ifEqual type 'video'}}
        <li><a class="js-player-link" href="{{value.url}}" data-videoid="{{value.id}}" data-listid="{{value.list}}">Watch {{value.title}}</a></li>
      {{/ifEqual}}
    {{/each}}
  </ul>
</div>
